@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&family=Roboto:wght@100;300;400;500;700&display=swap');

*{

  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  // text-transform: capitalize;
  transition: 0.2s linear;
  
}


// $green: #3bb77e;
$green: #03ad53;
$light-green: #03ad52d7;
$green-opacity: #03ad528f;
$white: #fff;
$text-light-color: #7b8792;
$light-color: #779;
$light-bg: #f6fbf6;
$border: .1rem solid $green;
$box-shadow: 0 .5rem 1rem rgba(0,0,0,0.1);
$dark-shadow: 0 0 0 100vw rgba(0,0,0,0.5);

@mixin grid($val) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
  gap: 1.5rem;
}
section{
  padding: 3rem 9%;
}
html{
  font-size: 62.5%;
  overflow-x: hidden;

  &::-webkit-scrollbar
  {
    width: 1rem;
  }
  &::-webkit-scrollbar-track
  {
    background: $white;
  }
  &::-webkit-scrollbar-thumb
  {
    background: $green;
  }
}

.btn{
  display: inline-block;
  margin-top: 1rem;
  padding: 0.9rem 3rem;
  color: $white;
  background: $green;
  cursor: pointer;
  border-radius: 3px;
  font-size: 1.7rem;
  &:hover{
    background: $light-green;
  }
}

.header{
  padding: 2rem 9%;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: $white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .logo{
    color: $green;
    font-size: 2.8rem;
    font-weight: bold;
    i{
      color: gold;
      font-size: 2.8rem;
      margin-right: 0.5rem;
      align-items: center;
    }
    span{
      color: gold;
    }  
  }
  .search-form{
    width: 60rem;
    height: 5rem;
    display: flex;
    align-items: center;
    box-shadow: $box-shadow;
    border-radius: 5rem;
    padding: 0 2rem;
    justify-content: space-between;
    input{
      width: 100%;
      height: 100%;
      padding-right: 2rem;
      font-size: 1.6rem;
      color: $green;
    }
    label{
      font-size: 1.8rem;
      cursor: pointer;
      &:hover{
        color: $green;
      }
    }
  }
  .icons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    a{
      font-size: 2.2rem;
      color: $green;
      position: relative;
      &:hover{
        color: $light-color;
      }
      .number-cart{
        position: absolute;
        top: -0.3rem;
        right: -1rem;
        font-size: 1.1rem;
        color: black; 
        padding: 0 0.5rem;
        border-radius: 50%;
        background-color: yellow;
        border: 0.2rem solid $white;
      }
      .number-hear{
        position: absolute;
        top: -0.3rem;
        right: -1rem;
        font-size: 1.1rem;
        color: black; 
        padding: 0 0.5rem;
        border-radius: 50%;
        background-color: yellow;
        border: 0.2rem solid $white;
      }
      &:nth-child(4){
        display: none;
      }
    }
  }
}
.sub-search_container{
  position: fixed;
  top: 10rem;
  left: -150%;
  padding: 0 9%;
  width: 100%;
  border-radius: 5rem;
  &.active{
    transition: 0.2s linear;
    left: 0;
  }
  
  .sub-search{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5rem;
    background: $white;
    box-shadow: $box-shadow;
    z-index: 1000000;
  input{
    font-size: 1.6rem;
    color: $green;
    padding: 1.5rem 3rem;
    flex: 1;
    border-top-left-radius: 5rem;
    border-bottom-left-radius: 5rem;
  }
  label{
    font-size: 1.6rem;
    color: $light-color;
    padding: 1.5rem 3rem 1.5rem 0;
    &:hover{
      color: $green;
    }
  }
}
}
.navbar{
  display: flex;
  flex-flow: column;
  position: fixed;
  top: 0;
  right: -101%;
  width: 26rem;
  height: 100vh;
  background: $white;
  padding-top: 9rem;
  box-shadow: $box-shadow;
  z-index: 3;
  &.active{
    right: 0;
    transition: 0.3s linear;
  }
  .logo{
    font-size: 3rem;
    color: $green;
    font-weight: bold;
    padding: 4rem 2rem 2rem 2rem;
    width: 100%;
    text-align: center;
    position: relative;
    cursor: pointer;
    .fa-lemon{
      padding: 1rem;
      background: $green;
      color: gold;
      border-radius: 50%;
      font-size: 2.2rem;
      margin-right: 0.5rem;
    }
    .text_food{
      font-size: 3rem;
      font-weight: 700; 
      font-family: 'Comic Neue', cursive;
      font-weight: bold;
      color: $green;
    }
    .text-up{
      font-size: 3rem;
      font-weight: 700; 
      font-family: 'Comic Neue', cursive;
      font-weight: bold;
      color: gold;
    }

    .close-bar{
      position: absolute;
      top: 1rem;
      right: 2rem;
      cursor: pointer;
    }
  }
  a{
    font-size: 2rem;
    color: $text-light-color;
    position: relative;
    font-weight: bold;
    padding: 2rem 0;
    margin: 0 2rem;
    border-radius: 1rem;
    text-indent: 2.3rem;
    &:hover{
      color: $green;
      transform: scale(1.1);
      span:hover::before{
        width: 100%;
        transition: 0.2s linear;
      }
    }
    i{
      font-size: 2.2rem;
      margin-right: 1.6rem;
    }
    span{
      padding: 0.5rem;
      position: relative;
      &::before{
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 0.3rem;
        background: $green;
      }
    }
  }
}

.shopping-cart{
  position: fixed;
  top: 0;
  right: -150%;
  width: 40rem;
  // height: 100vh;
  height: calc(100vh - 7rem);
  background: $light-bg;
  z-index: 1000;
  margin-top: 9rem;
  box-shadow: $box-shadow;
  overflow: scroll;
  &::-webkit-scrollbar
  {
    width: 0.8rem;
  }
  &::-webkit-scrollbar-thumb
  {
    background: $green;
    border-radius: 0.4rem;
  }
  &.active{
    right: 0;
    transition: 0.3s linear;
  }
  .closer-left{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4rem 3rem 1rem 2rem;
    cursor: pointer;
    .icon_close{
      font-size: 2.5rem;
      padding: 1rem;
      &:hover{
        color: $green;
      }
    }
    span{
      font-size: 1.8rem;
      font-weight: bold;
    }
    a{
      font-size: 2.2rem;
      color: black;
      position: relative;
      padding: 1rem 1.5rem;
      background: $white;
      border-radius: 1rem;
      box-shadow: $box-shadow;
      span{
        position: absolute;
        top: -0.3rem;
        right: -1rem;
        font-size: 1.2rem;
        color: $white; 
        padding: 0 0.6rem;
        border-radius: 0.8rem;
        background-color: black;
        border: 0.2rem solid $white;
      }
    }
  }
  .box{
    display: flex;
    align-items: center;
    // justify-content: space-between;
    gap: 1.8rem;
    padding: 2rem;
    .box-img{
      width: 9rem;
      height: 9rem;
      object-fit: cover;
      object-position: center;
      max-width: 100%;
      background: $white;
      border-radius: 0.4rem;
      box-shadow: $box-shadow;
      overflow: hidden;
      img{
        width: 9rem;
      }
    }
    .content{
      flex: 1;
      .name{
        position: relative;
        display: flex;
        // align-items: center;
        justify-content: space-between;
        .text{
          p{
            font-size: 1.8rem;
            color: $green;
            cursor: pointer;
            font-weight: bold;
            line-height: 1.2;

            width: 16rem;
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
          }
          span{
            font-size: 1.2rem;
            color: $light-color;
          }
        
        }
        i{
          font-size: 1.6rem;
          cursor: pointer;
          &:hover{
            color: $green;
          }
        }
      }
      .price-total{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .price{
          font-size: 1.8rem;
          font-weight: bold;
          color: black;
        }
        .quantity{
          display: flex;
          justify-content: center;
          align-items: center;
          .number{
            font-size: 1.4rem;
            margin: 0 1rem;
            font-weight: bold;
          }
          .plus{
            i{
              background: black;
              border: 0.1rem solid black;
              border-radius: 50%;
              color: $white;
              padding: 0.4rem 0.4rem;
              cursor: pointer;
              &:hover{
                background: $green;
                border: 0.1rem solid $green;
              }
            }
            
          }
          .minus{
            i{
              border: 0.1rem solid black;
              border-radius: 50%;
              color: black;
              padding: 0.4rem 0.4rem;
              cursor: pointer;
              &:hover{
                border: 0.1rem solid $green;
                color: $white;
                background: $green;
              }
            }
          }
        }
      }
    }
  }
  .voucher{
    padding: 2rem;
    width: 100%;
    position: relative;
    input{
      width: 100%;
      height: 6rem;
      border-radius: 2rem;
      padding: 0 14.5rem 0 2rem;
      font-size: 1.6rem;
      color: $green;
      box-shadow: $box-shadow
    }
    .btn{
      border-radius: 1.4rem;
      margin: 0;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      margin-right: 4rem;
    }
  }
  .subtotal{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 2rem 0 2rem;
    font-size: 1.6rem;
    font-weight: bold;
    .number_price{
      display: flex;
      align-items: center;
      justify-content: center;
      span{
        font-size: 1.3rem;
        color: $light-color;
        margin-left: 0.6rem;
      }
    }
  }
  .shipping{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 2rem 0 2rem;
    font-size: 1.6rem;
    font-weight: bold;
    .number_price{
      display: flex;
      justify-content: center;
      align-items: center;
      span{
        font-size: 1.3rem;
        color: $light-color;
        margin-left: 0.6rem;
      }
    }
  }
  .bag_total{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 2rem 0 2rem;
    font-size: 1.6rem;
    font-weight: bold;
    .number_price{
      font-size: 1.6rem;
      font-weight: bold;
      display: flex;
      justify-content: center;
      align-items: center;
      span{
        font-size: 1.3rem;
        font-weight: bold;
        color: $light-color;
        margin-left: 0.6rem;

      }
      .quantity-item{
        font-size: 1.3rem;
        font-weight: bold;
        color: black;
        margin-right: 0.6rem;
      }
    }
  }
  .button_submit{
    width: 100%;
    padding: 2rem 2rem 3rem 2rem;
    .btn{
      width: 100%;
      border-radius: 4rem;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      font-weight: bold;
    }
  }
}

// content start
.content-container_1{
  padding: 2rem 9% 0 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
  .box{
    flex: 1;
    .text_heading{
      line-height: 1.3;
      h1{
        font-size: 5.6rem;
        span{
          color: $green;
        }
      }
      .text_icon{
        .btn{
          padding: 0.9rem 2rem;
          background: #03ad5263;
          border-radius: 5rem;
          color: $green;
          margin-bottom: 2.5rem;
          font-size: 1.6rem;
          font-weight: bold;
          i{
            color: $green;
            margin-left: 1rem;
          }
          &:hover{
            background: $green;
            color: $white;
            i{
              color: $white;
            }
          }
        }
      }
    }
    p{
      font-size: 1.4rem;
      margin: 2rem 0;
      text-align: justify;
    }
    .container_button{
      display: flex;
      align-items: center;
      gap: 3rem;
      .btn{
        border-radius: 5rem;
        font-size: 1.6rem;
        padding: 1rem 2rem;
        i{
          font-size: 1.6rem;
          color: gold;
          margin-right: 1rem;
        }
        &:hover{
          background: $light-green;
          transform: scale(1.1);
        }
      }
      .btn.btn_video{
        background: $light-bg;
        color: $light-color;
        box-shadow: $box-shadow;
        &:hover{
          transform: scale(1.1);
        }
      }
    }
  }
  .image_content{
    flex: 1.5;
    position: relative;
    img{
      z-index: 2;
      width: 100%;
      animation: float 2s linear infinite;
    }
    .menu_food{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-flow: column;
      gap: 3rem;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      .menu_food-item{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem 1.5rem;
        border-radius: 5rem;
        background: $white;
        box-shadow: $box-shadow;
        cursor: pointer;
        // height: 100%;
        &:hover{
          background: $green;
          color: $white;
          transition: 0.1s linear;
          transform: scale(1.1);
        }
        .menu_food-image{
          width: 3rem;
          height: 3rem;
          object-position: center;
          object-fit: cover;
          border-radius: 50%;
          animation: none;
        }
        p{
          font-size: 1.3rem;
          font-weight: bold;
          margin-left: 1.5rem;
        }
      }
    }
  }
}

@keyframes float{
  0%{
    transform: translateY(0rem);
  }
  50%{
    transform: translateY(2rem);
  }
  100%{
    transform: translateY(0rem);
  }
}

.content-container_2{
  max-width: 1000rem;
  margin: 5rem 9% 10rem 9%;
  .slide_text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 4rem;
    h1{
      font-size: 4.5rem;
      font-weight: bold;
    }
    .icon_slice{
      i{
        font-size: 2rem;
        padding: 1.2rem;
        border-radius: 50%;
        background: $white;
        border: 0.1rem solid $green;
        box-shadow: $box-shadow;
        cursor: pointer;
        &:hover{
          background: $green;
          color: $white;
        }
        &:last-child{
          margin-left: 1rem;
        }
      }
    }
  }
  .slick-initialized .slick-slide{
    margin: 0 1rem;
  }

  .slider-wrapper{
    position: relative;
    // gap: 1.4rem;
    .slick-prev{
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      z-index: 2;
      background-color: $green;
      color: white;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 5rem;
      width: 5rem;
      border-radius: 50%;
      font-size: 2rem;
      line-height: 1;
      cursor: pointer;
      // &:hover{
      //   background: $white;
      //   color: $green;
      //   border: 0.2rem solid $green;
      // }
      &:hover{
        color: $green;
        background: yellow;
      }
    }
    .slick-next{
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      z-index: 2;
      background-color: $green;
      color: white;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 5rem;
      width: 5rem;
      border-radius: 50%;
      font-size: 2rem;
      line-height: 1;
      cursor: pointer;
      // &:hover{
      //   background: $white;
      //   color: $green;
      //   border: 0.2rem solid $green;
      // }

      &:hover{
        color: $green;
        background: yellow;
      }
    }
    .slick-dots{
      position: absolute;
      left: 50%;
      transform: translate(-50%, 3rem);
      display: flex;
      align-items: center;
      justify-content: center;
      list-style: none;
      gap: 0 2rem;
      .slick-active{
        button{
          background-color: $green;
          transition: all 0.2s linear;
        }
      }
      button{
        font-size: 0;
        width: 1.4rem;
        height: 1.4rem;
        border: none;
        outline: none;
        background: $green-opacity;
        border-radius: 50%;
        cursor: pointer;
      }
    }
      .slide_box-item{
        width: 26rem;
        border-radius: 1rem;
        box-shadow: $box-shadow;
        cursor: pointer;
        user-select: none;
        position: relative;
        &.active{
          background: red;
          transform: translateX(calc(-100% - 1.4rem));
        }
        .slide-img{
          padding: 2rem 2rem;
          width: 100%;
          height: 18rem;
          overflow: hidden;
          img{
            object-fit: cover;
            margin: 0 auto;
            display: block;
            object-position: center;
            height: 100%;
            overflow: hidden;
          }
        }
        h3{
          text-align: center;
          font-size: 2rem;
          color: $green;
          font-weight: bold;  
        }
        .slide_star{
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 0.5rem;
          font-size: 1.8rem;
          margin-top: 1rem;
          color: gold;
        }
        p{
          padding: 0 3rem;
          font-size: 1.3rem;
          color: $light-color;
          line-height: 1.6;
          text-align: center;
          margin-top: 1.8rem;
          margin-bottom: 2.2rem;
        }
        .slide_price{
          padding: 0 2rem;
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 2rem;
          span{
            font-size: 2.2rem;
            font-weight: bold;
            color: #49281c;
          }
          .btn{
            border-radius: 5rem;
            font-size: 1.3rem;
            margin: 0;
            padding-left: 1.5rem;
            padding-right: 1.5rem;
            font-weight: bold;
            border: 0.1rem solid $green;
            background: none;
            color: #49281c;
              &:hover{
                background: $green;
                color: $white;
                transform: scale(1.1);
              }
          }
        }
      }
    }
  }

  .content-container_3{
    margin: 0 9% 5rem 9%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    .box-item_1{
      width: 55rem;
      height: 55rem;
      position: relative;
      .avatar_item_1{
        img{
          position: absolute;
          top: 1rem;
          right: 1rem;
          width: 12rem;
          height: 12rem;
          object-fit: cover;
          object-position: center;
        }
      }
      .avatar_item_2{
        .food_chef{
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
          width: 40rem;
          height: 40rem;
          cursor: pointer;
          object-fit: cover;
          object-position: 1rem 4rem;
          border-radius: 50%;
          z-index: 3;
        }
      }

      .avatar_item_3{
        img{
          position: absolute;
          bottom: 1rem;
          left: 1rem;
          width: 10rem;
          height: 10rem;
          object-fit: cover;
          object-position: center;
        }
      }
      .background_food{
        img{
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
          width: 40rem;
          height: 40rem;
          object-fit: cover;
          object-position: center;
          border-radius: 50%;
        }
      }
    }
    .box-item_2{
      flex: 1;
      h1{
        font-size: 4.5rem;
        line-height: 1.3;
      }
      p{
        width: 90%;
        font-size: 1.3rem;
        margin-top: 1.5rem;
        color: #5c5d61;
        font-weight: 500;
        line-height: 1.5;
      }
      .text_content{
        width: 100%;
        display: flex;
        align-items: center;
        gap: 6rem;
        .text-content_item{
          .mess{
            display: flex;
            gap: 2rem;
            margin-top: 2.5rem;
            img{
              width: 3rem;
              height: 3rem;
              object-fit: cover;
              object-position: center;
              border-radius: 50%;
              
            }
            p{
              font-size: 1.8rem;
              margin-top: 0;
              font-weight: bold;
              color: $light-color;
              cursor: pointer;
              &:hover{
                color: $green;
              }
            }
          }
        }
      }
      .btn{
        border-radius: 5rem;
        margin-top: 4rem;
        &:hover{
          transform: scale(1.1);
        }
      }
    }
  }

.content-container_4{
  margin: 0 9% 5rem 9%;
  position: relative;
  .list_type{
    .mess-food{
      display: flex;
      align-items: center;
      justify-content: space-between;
      h1{
        font-size: 4.5rem;
        text-align: center;
      }
      .box_sub-menu{
        display: none;
        .btn-menu{
          display: inline-block;
          margin-top: 1rem;
          padding: 0.9rem 4.5rem;
          font-size: 1.7rem;
          color: #022c02;
          background: none;
          cursor: pointer;
          border-radius: 5rem;
          border: 0.2rem solid $green;
          font-weight: bold;
          position: relative;
          &:after{
            content: "";
            position: absolute;
            bottom: -50%;
            left: 0;
            width: 100%;
            height: 3rem;
            // background: red;
          }
          &:hover{
            background: $green;
            color: $white;
          }
          &:hover .sub_list-menu{
            display: block;
          }
          i{
            font-size: 1.4rem;
            margin-left: 1rem;
          }
          .sub_list-menu{
            position: absolute;
            top: 140%;
            right: 0;
            width: 17rem;
            background: $green;
            z-index: 10;
            border-radius: 0.8rem;
            box-shadow: $box-shadow;
            display: none;
            li{
              list-style: none;
              padding: 1.5rem 2rem;
              a{
                color: $white;
                margin: 1rem 0 1rem 0;
                font-size: 1.6rem;
              }
              &:hover{
                background: white;
                border-radius: 0.6rem;
              }
              &:hover a{
                color: $green;
              }
            }
          }
        }

      }

    }
    .list_menu{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 3rem;
      button{
        border-radius: 5rem;
        background: none;
        color: rgb(2, 44, 2);
        border: 0.2rem solid $green;
        outline: none;
        font-weight: bold;
        &:hover{
          background: $green;
          color: white;
        }
        &.showColor{
          background: $green;
          color: $white;
        }
      }
    }
  }
  .box_menu-1{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
    gap: 1rem;
    flex-wrap: wrap;
    display: none;
    .box_menu-item{
      width: 27rem;
      padding: 2rem;
      border-radius: 1rem;
      overflow: hidden;
      box-shadow: $box-shadow;
      .image-food{
        width: 100%;
        height: 18rem;
        padding: 1rem 1rem;
        overflow: hidden;
        img{
          height: 100%;
          margin: 0 auto;
          display: block;
          object-fit: cover;
          object-position: center;
          overflow: hidden;
        }
      }
      h3{
        text-align: center;
        font-size: 2rem;
        color: $green;
        font-weight: bold; 
      }
      .star-food{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        font-size: 1.8rem;
        margin-top: 1rem;
        color: gold;
      }
      p{
        font-size: 1.3rem;
        color: $light-color;
        text-align: center;
        margin-top: 1.8rem;
        margin-bottom: 2.2rem;
      }
      .price-food{
          display: flex;
          justify-content: space-between;
          align-items: center;
          span{
            font-size: 2.2rem;
            font-weight: bold;
            color: #49281c;
          }
          .btn{
            border-radius: 5rem;
            font-size: 1.3rem;
            margin: 0;
            padding-left: 1.5rem;
            padding-right: 1.5rem;
            font-weight: bold;
            border: 0.1rem solid $green;
            background: $green;
            color: $white;
              &:hover{
                transform: scale(1.1);
              }
          }
      }
    }
  }
  .box_menu{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
    gap: 1rem;
    flex-wrap: wrap;
    .box_menu-item{
      width: 27rem;
      padding: 2rem;
      border-radius: 1rem;
      overflow: hidden;
      box-shadow: $box-shadow;
      .image-food{
        width: 100%;
        height: 18rem;
        padding: 1rem 1rem;
        overflow: hidden;
        img{
          height: 100%;
          margin: 0 auto;
          display: block;
          object-fit: cover;
          object-position: center;
          overflow: hidden;
        }
      }
      h3{
        text-align: center;
        font-size: 2rem;
        color: $green;
        font-weight: bold; 
      }
      .star-food{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        font-size: 1.8rem;
        margin-top: 1rem;
        color: gold;
      }
      p{
        font-size: 1.3rem;
        color: $light-color;
        text-align: center;
        margin-top: 1.8rem;
        margin-bottom: 2.2rem;
      }
      .price-food{
          display: flex;
          justify-content: space-between;
          align-items: center;
          span{
            font-size: 2.2rem;
            font-weight: bold;
            color: #49281c;
          }
          .btn{
            border-radius: 5rem;
            font-size: 1.3rem;
            margin: 0;
            padding-left: 1.5rem;
            padding-right: 1.5rem;
            font-weight: bold;
            border: 0.1rem solid $green;
            background: $green;
            color: $white;
              &:hover{
                transform: scale(1.1);
              }
          }
      }
    }
  }
}

.content-container_5{
  margin: 5rem 9%;
  display: flex;
  .box_mess-1{
    flex: 1;
    h1{
      font-size: 5rem;
    }
    p{
      color: $light-color;
      font-size: 1.6rem;
      margin: 3rem 0;
    }
    .btn{
      border-radius: 5rem;
      font-weight: bold;
      padding: 1.2rem 3rem;
      &:hover{
        transform: scale(1.1);
      }
    }
  }

  .box_image-2{
    height: 45rem;
    width: 45rem;
    position: relative;
    img{
      position: absolute;
      top: 0;
      left: -5%;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}

.content-container_6{
  margin: 0 9%;
  padding: 5rem 0;
  h1{
    font-size: 5rem;
  }

  .information_container{
    width: 100%;
    display: flex;
    position: relative;
    margin-top: 2rem;
    .slick-prev{
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      font-size: 2rem;
      z-index: 2;
      cursor: pointer;
      background: $green;
      color: $white;
      &:hover{
        color: $green;
        background: yellow;
      }
    }
    .slick-next{
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      font-size: 2rem;
      z-index: 2;
      cursor: pointer;
      background: $green;
      color: $white;
      &:hover{
        color: $green;
        background: yellow;
      }
    }
    .information-item{
      border-radius: 1rem;
      width: 40rem;
      padding: 2.5rem;
      box-shadow: $box-shadow;
      margin: 0 1rem;
      cursor: pointer;
      p{
        font-size: 1.4rem;
        color: $light-color;
      }
      .information-avatar{
        img{
          margin: 2rem auto;
          width: 10rem;
          height: 10rem;
          object-fit: cover;
          object-position: center;
          border-radius: 50%;
        }
      }
      h2{
        font-weight: bold;
        font-size: 2.2rem;
      }
    }
  }
}

.content-container_7{
  margin: 5rem 9%;
  h1{
    font-size: 5rem;
  }
  .food_chefs{
    margin-top: 3rem;
    display: flex;
    .slick-prev{
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      font-size: 2rem;
      z-index: 2;
      cursor: pointer;
      background: $green;
      color: $white;
      &:hover{
        color: $green;
        background: yellow;
      }
    }
    .slick-next{
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      font-size: 2rem;
      z-index: 2;
      cursor: pointer;
      background: $green;
      color: $white;
      &:hover{
        color: $green;
        background: yellow;
      }
    }
    .chefs-item{
      width: 26rem;
      height: 40rem;
      background: $white;
      border-radius: 1rem;
      padding: 1.5rem;
      position: relative;
      box-shadow: $box-shadow;
      margin: 0 1rem;
      cursor: pointer;
      .avatar_chef{
        width: 100%;
        height: 85%;
        background-image: linear-gradient(to right top, #9e9ea7, $white);
        border-radius: 1.5rem;
        position: relative;
        overflow: hidden;
        img{
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          height: 100%;
          bottom: 0;  
          object-fit: cover;
        }
      }
      h2{
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        padding-bottom: 1.5rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        font-size: 2rem;
        text-align: center;
        width: 100%;
      }
    }
  }
}

// content end

.footer{
  display: flex;
  padding: 5rem 9%;
  background: $green;
  justify-content: space-between;
  .footer_socical{
    width: 30rem;
    .logo{
      font-size: 3rem;
      color: $white;
      font-weight: 700; 
      font-family: 'Comic Neue', cursive;
      i{
        font-size: 2.5rem;
        color: gold;
      }
      span{
        font-size: 3rem;
        font-weight: bold;
        color: gold;
        font-family: 'Comic Neue', cursive;
        font-weight: 700;
      }
    }
    p{
      font-size: 1.4rem;
      margin: 1rem 0;
      color: $white;
    }
    .email{
      display: flex;
      align-items: center;
      gap: 1rem;
      input{
        background: none;
        color: yellow;
        font-size: 1.6rem;
        border-bottom: 0.2rem solid $white;
        cursor: pointer;
        padding-bottom: 0.5rem;
        &::placeholder{
          color: $white;
        }
      }
      i{
        padding: 1.2rem;
        color: $green;
        background: $white;
        border-radius: 50%;
        font-size: 1.8rem;
        cursor: pointer;
        &:hover{
          transform: scale(1.1);
          background: yellow;
          color: $green;
        }
      }
    }
    .container_social{
      display: flex;
      align-items: center;
      gap: 2rem;
      margin-top: 2rem;
      i{
        font-size: 1.8rem;
        padding: 1.2rem;
        border-radius: 50%;
        border: 0.2rem solid $white;
        color: $white;
        cursor: pointer;
        &:hover{
          transform: scale(1.1);
          background: $white;
          color: $green;
        }
      }
    }
  }

  .footer-item{
    list-style: none;
    font-size: 1.4rem;
    color: $white;
    li{
      margin-bottom: 1.5rem;
      cursor: pointer;
      &:first-child{
        font-weight: bold;
        font-size: 1.6rem;
      }
      a{
        position: relative;
        color: $white;
        padding-bottom: 0.5rem;
        &::before{
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0;
          height: 0.25rem;
          background: yellow;
          transition: 0.3s linear;
        }
        &:hover::before{
          width: 100%;
        }
        &:hover{
          color: yellow;
        }
      }
    }
  }
}









//Media
@media (max-width: 1024px){
    .content-container_1{
      .box{
        .text_heading{
          line-height: 1.3;
          h1{
            font-size: 4.5rem;
          }
        }
        .container_button{
          display: flex;
          align-items: center;
          gap: 2rem;
          .btn{
            border-radius: 5rem;
            font-size: 1.4rem;
            padding: 1rem 2rem;
            i{
              font-size: 1.4rem;
              color: gold;
              margin-right: 1rem;
            }
            &:hover{
              background: $light-green;
            }
          }
        }
      }
      .image_content{
        .menu_food{
          gap: 2.8rem;
          .menu_food-item{
            .menu_food-image{
              width: 3rem;
              height: 3rem;
            }
            p{
              font-size: 1.3rem;
            }
          }
        }
      }
    }

    
    
}
@media (max-width: 1024px){
  .header{
    .search-form{
      width: 46rem;
      height: 5rem;
      display: flex;
      align-items: center;
      box-shadow: $box-shadow;
      border-radius: 5rem;
      padding: 0 2rem;
      justify-content: space-between;
      input{
        width: 100%;
        height: 100%;
        padding-right: 2rem;
        font-size: 1.6rem;
        color: $green;
      }
      label{
        font-size: 1.8rem;
        cursor: pointer;
        &:hover{
          color: $green;
        }
      }
      }
  }

  .content-container_1{
    .box{
      .text_heading{
        line-height: 1.3;
        h1{
          font-size: 4.5rem;
        }
      }
      .container_button{
        display: flex;
        align-items: center;
        gap: 2rem;
        .btn{
          border-radius: 5rem;
          font-size: 1.4rem;
          padding: 1rem 2rem;
          i{
            font-size: 1.4rem;
            color: gold;
            margin-right: 1rem;
          }
          &:hover{
            background: $light-green;
          }
        }
      }
    }
    .image_content{
      .menu_food{
        gap: 2.8rem;
        .menu_food-item{
          .menu_food-image{
            width: 3rem;
            height: 3rem;
          }
          p{
            font-size: 1.3rem;
          }
        }
      }
    }
  }

  .content-container_3{
    .box-item_1{
      width: 100%;
      .avatar_item_1{
        img{
          width: 15rem;
          height: 15rem;
        }
      }
      .avatar_item_2{
        img{
          width: 100%;
        }
      }
      .avatar_item_3{
        img{
          width: 15rem;
          height: 15rem;
        }
      }
    }
  }

  .content-container_4{
    .list_type{
      .mess-food{
        display: flex;
        justify-content: space-between;
        align-items: center;
        h1{
          font-size: 2.8rem;
          text-align: left;
        }
        .box_sub-menu{
          display: block;
          
          .btn-menu{
            padding: 0.9rem 1rem;
            font-size: 1.7rem;
            width: 12rem;
            text-align: center;
            margin-top: 0;
          }
        }
      }
      .list_menu{
        display: none;
      }
    }
  }

  .content-container_5{
    .box_mess-1{
      h1{
        font-size: 3rem
      }
    }
    .box_image-2{
      img{
        width: 45rem;
      }
    }
  }
}
@media (max-width: 911px){
  .header{
    .search-form{
      display: none;
    }
    .icons{
      a:nth-child(4){
        display: block;
      }
    }
  }
}

@media (max-width: 768px){
  .content-container_1{
    .box{
      .text_heading{
        line-height: 1.3;
        h1{
          font-size: 3.4rem;
        }
      }
      .container_button{
        display: flex;
        align-items: center;
        gap: 2rem;
        .btn{
          border-radius: 5rem;
          font-size: 1.1rem;
          padding: 1rem 2rem;
          i{
            font-size: 1.1rem;
            color: gold;
            margin-right: 1rem;
          }
          &:hover{
            background: $light-green;
          }
        }
        .btn.btn_video{
          background: $light-bg;
          color: $light-color;
          box-shadow: $box-shadow;
        }
      }
    }
    .image_content{
      .menu_food{
        gap: 2rem;
        .menu_food-item{
          .menu_food-image{
            width: 2.5rem;
            height: 2.5rem;
          }
          p{
            font-size: 1.3rem;
          }
        }
      }
    }
  }
  .content-container_2{
    .slider-wrapper{
      .slide_box-item{
        .slide_price{
          .btn{
            font-size: 1rem;
          }
          span{
            font-size: 2rem;
          }
        }
      }
    }
  }

  .content-container_3{
    .box-item_1{
      width: 100%;
      .avatar_item_1{
        img{
          width: 10rem;
          height: 10rem;
        }
      }
      .avatar_item_3{
        img{
          width: 10rem;
          height: 10rem;
        }
      }
    }
  }

  .content-container_4{
    .list_type{
      .mess-food{
        display: flex;
        justify-content: space-between;
        align-items: center;
        h1{
          font-size: 2.8rem;
          text-align: left;
        }
        .box_sub-menu{
          display: block;
          
          .btn-menu{
            padding: 0.9rem 1rem;
            font-size: 1.7rem;
            width: 12rem;
            text-align: center;
            margin-top: 0;
          }
        }
      }
      .list_menu{
        display: none;
      }
    }
  }

  .content-container_5{
    flex-direction: column;
    .box_mess-1{
      h1{
        font-size: 5rem
      }
      p{
        font-size: 1.8rem;
      }
    }
    .box_image-2{
      width: 100%;
      height: 100%;
      img{
        width: 100%;
        height: 100%;
        margin: 3rem auto;
        display: block;
      }
    }
  }
}

@media (max-width: 450px){
  .header{
    .search-form{
      display: none;
    }
    .icons{
      a:nth-child(4){
        display: block;
        font-size: 1.8rem;
      }
      a{
        font-size: 1.8rem;
      }
      gap: 1.5rem;
    }
  }
  .content-container_1{
    flex-direction: column;
    .box{
      .text_heading{
        line-height: 1.3;
        h1{
          font-size: 4rem;
        }
      }
    }
    .image_content{
      .menu_food{
        gap: 1.5rem;
        .menu_food-item{
          .menu_food-image{
            width: 2rem;
            height: 2rem;
          }
          p{
            font-size: 1.2rem;
          }
        }
      }
    }
  }

  .content-container_2{
    margin: 5rem 9% 5rem 9%;
    .slide_text{
      flex-direction: column;
      h1{
        font-size: 3.5rem;
        margin-top: 2.5rem;
      }
      .icon_slice{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 2rem;
      }
    }
    .slider-wrapper{
      width: 26rem;
      margin: 0 auto;
      .slick-prev{
        left: -24%;
      }
      .slick-next
      {
        right: -24%;
      }
    }
  }

  .content-container_3{
    flex-direction: column;
    .box-item_1{
      width: 100%;
      .avatar_item_2{
        .food_chef{
          width: 30rem;
          height: 30rem;
        }
      }

      .avatar_item_1{
        img{
          width: 10rem;
          height: 10rem;
        }
      }

      .avatar_item_3{
        img{
          width: 10rem;
          height: 10rem;
        }
      }

      .background_food{
        img{
          width: 30rem;
          height: 30rem;
        }
      }
    }
    .box-item_2{
      width: 100%;
      h1{
        font-size: 4rem;
      }
      .text_content{
        gap: 2rem;
        .text-content_item{
          .mess{
            img{
              width: 2rem;
              height: 2rem;
            }
            p{
              font-size: 1.4rem;
            }
          }
        }
      }
    }
  }

  .content-container_4{
    .list_type{
      .mess-food{
        display: flex;
        justify-content: center;
        h1{
          font-size: 2.8rem;
          text-align: left;
        }
        .box_sub-menu{
          display: block;
          .btn-menu{
            padding: 0.9rem 1rem;
            font-size: 1.7rem;
            width: 12rem;
            text-align: center;
          }
        }
      }
      .list_menu{
        display: none;
      }
    }
  }

  .content-container_5{
    flex-direction: column;
    .box_mess-1{
      h1{
        font-size: 3rem
      }
    }
    .box_image-2{
      width: 100%;
      img{
        margin-top: 3rem;
      }
    }
  }

  .content-container_6{
    h1{
      font-size: 3rem;
    }
  }

  .content-container_7{
    h1{
      font-size: 3rem;
    }
  }

  .footer{
    flex-direction: column;
    .footer_socical{
      margin-bottom: 5rem;
    }
    .footer-item{
      margin-bottom: 3rem;
    }
  }
}
